@import './base.css';

#app {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-primary-hover);
    color: white;
  }
}

body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}
